<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv = "refresh" content = "5; url = https://evegah.kritin.in/home/Wallet" />
<title>Zaakpay Payment Gateway Response</title>
</head>
<body>
<a href="https://evegah.kritin.in/home/Wallet">Click here</a>
<p>Hi</p>
<p>You have just requested to reset your password.</p>
<p>Here are the details:</p>
</body>
</html>
